/* Tutor helped me with this section to avoid some empty spaces  */
html {
    box-sizing: border-box;
}
*,*::before,*::after{

    box-sizing: inherit;
    
}
/* fonts go in body */

body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;


}

/* styling the header section */
header {
    background-color: black;
    color: white;
    display: flex; 
    justify-content: space-between;
    

}

header img {
    height: 50px;
    width: 50px;
    margin-right: 900px;
    margin-top: 20px;
    border-radius:50%;
}

header h1 {
    margin-left: 20px;
}
header ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}

header ul li {
    list-style-type: none;
    margin-left: 10px;
}
header a{
    color: white;
    text-decoration: none;
}

/* Styling the subheading section with cover image */
#sub {
    display: flex;
    font-size: 35px; 
    height: 200px;
    color: white;
    background-image: url(./images/smoke-background-texture-black-abstract-design.jpg);
    background-position: center;
    background-size: cover;
    justify-content: end;
    align-items: end;
    padding: 20px;
    color: rgb(253, 253, 253); 
    font-weight: bold;
}

h2 {
    display: flex;
    height: 50px;
    width: 50px;
    margin: 50px;
}

/* styling the bar that is used throughout the website to create separation */
#bar {
    display: flex; 
    background-color: black;
    margin: 0px 10px; 
    padding: 3px;

}

/* About me section of my project */
#about-me {
    display: flex;
    margin: 30px;
    
}




/* styling for main work */
#my-work {

    display: flex;
    margin: 30px;

}
/* Styling the text within the image */
article h3 {
    display: flex;
    position:absolute;
    color: white;
    background-color: black;
    padding: 15px;
}

/* making the first pseudo selector, first child, 100% of the available space */
article:first-child{
    flex-basis: 100%;
    
}

/* styling the other images */
article {

    border: 5px solid black;
    margin: 2px;
    flex: 1 0 47%;
    min-width: 300px;
    /* max-width: 47%; */

}

main img {
    width: 100%;
    display: block; 
    max-height: 300px;
    opacity: 0.2;
    transition: 0.3s;



}

main img:hover {
    opacity: 1;
}

.projects {
    display: flex;
    flex-wrap: wrap;

}

/* Styling the contact information part of the website */
#contact-me {
    display:flex;
    margin: 30px;

}

#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#contact-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
   
    
}

#contact-info ul{
    display: flex;
    justify-content: center;
}

#contact-info li{
    margin-left: 10vw;
    font-size: 20px;
}