* {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
header {
    background-color: black;
    color: white;
    display: flex; 
    justify-content: space-between;
    

}

header h1 {
    margin-left: 20px;
}
header ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}

header ul li {
    list-style-type: none;
    margin-left: 10px;
}
a{
    color: white;
    text-decoration: none;
}

#sub {
    font-size: 35px;
    display: flex;
    height: 200px;
    color: white;
    background-image: url(./images/smoke-background-texture-black-abstract-design.jpg);
    background-position: center;
    background-size: cover;
    justify-content: end;
    align-items: end;
    padding: 20px;
    color: rgb(253, 253, 253); 
    font-weight: bold;
}

